In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [66]:
data = pd.read_csv('D:\\dataset\\insurance.csv')

In [68]:
data.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [4]:
data.sex = data.sex.apply({'female':1,'male':2}.get)
data.smoker = data.smoker.apply({'yes':1,'no':0}.get)
data.region = data.region.apply({'northwest':1,'northeast':2,'southwest':3,'southeast':4}.get)

In [20]:
data.head(4)

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47

In [69]:
x = data.iloc[:,:-1]
Y = data.iloc[:,6]

In [70]:
Y

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1333    10600.55
1334     2205.98
1335     1629.83
1336     2007.95
1337    29141.36
Name: expenses, Length: 1338, dtype: float64

In [71]:
x

      age     sex   bmi  children smoker     region
0      19  female  27.9         0    yes  southwest
1      18    male  33.8         1     no  southeast
2      28    male  33.0         3     no  southeast
3      33    male  22.7         0     no  northwest
4      32    male  28.9         0     no  northwest
...   ...     ...   ...       ...    ...        ...
1333   50    male  31.0         3     no  northwest
1334   18  female  31.9         0     no  northeast
1335   18  female  36.9         0     no  southeast
1336   21  female  25.8         0     no  southwest
1337   61  female  29.1         0    yes  northwest

[1338 rows x 6 columns]

In [72]:
X = pd.get_dummies(x,dtype=float)

In [73]:
X

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.9,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,18,33.8,1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,28,33.0,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,33,22.7,0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
4,32,28.9,0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,31.0,3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1334,18,31.9,0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1335,18,36.9,0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1336,21,25.8,0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1337,61,29.1,0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [74]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.8,random_state=0)

In [75]:
X_train

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
621,37,34.1,4,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
194,18,34.4,0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
240,23,36.7,2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1168,32,35.2,2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
1192,58,32.4,1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
763,27,26.0,0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
835,42,36.0,2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
1216,40,25.1,0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
559,19,35.5,0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
684,33,18.5,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [76]:
X_test

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
578,52,30.2,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
610,47,29.4,1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
569,48,40.6,2,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
1034,61,38.4,0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
198,51,18.1,0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1084,62,30.5,2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
726,41,28.4,1,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1132,57,40.3,0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
725,30,39.1,3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
963,46,24.8,3,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0

In [77]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [78]:
y_pred = regressor.predict(X_test)

In [79]:
Y

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1333    10600.55
1334     2205.98
1335     1629.83
1336     2007.95
1337    29141.36
Name: expenses, Length: 1338, dtype: float64

In [ ]:
y_pred

In [ ]:
plt.scatter(X_train,Y_train,color='red')
plt.plot(X_train,regressor.predict(X_train),color='blue')

In [82]:
X = np.append(arr=np.ones((1338,1)).astype(int),values=X,axis=1)

In [84]:
X

array([[ 1. , 19. , 27.9, ...,  0. ,  0. ,  1. ],
       [ 1. , 18. , 33.8, ...,  0. ,  1. ,  0. ],
       [ 1. , 28. , 33. , ...,  0. ,  1. ,  0. ],
       ...,
       [ 1. , 18. , 36.9, ...,  0. ,  1. ,  0. ],
       [ 1. , 21. , 25.8, ...,  0. ,  0. ,  1. ],
       [ 1. , 61. , 29.1, ...,  1. ,  0. ,  0. ]])

In [85]:
X.ndim

2

In [86]:
X

array([[ 1. , 19. , 27.9, ...,  0. ,  0. ,  1. ],
       [ 1. , 18. , 33.8, ...,  0. ,  1. ,  0. ],
       [ 1. , 28. , 33. , ...,  0. ,  1. ,  0. ],
       ...,
       [ 1. , 18. , 36.9, ...,  0. ,  1. ,  0. ],
       [ 1. , 21. , 25.8, ...,  0. ,  0. ,  1. ],
       [ 1. , 61. , 29.1, ...,  1. ,  0. ,  0. ]])

In [61]:
import statsmodels.api as sm

In [58]:
pip install statsmodels

Requirement already satisfied: statsmodels in d:\anaconda\lib\site-packages (0.14.0)
Requirement already satisfied: numpy>=1.18 in d:\anaconda\lib\site-packages (from statsmodels) (1.24.3)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in d:\anaconda\lib\site-packages (from statsmodels) (1.11.1)
Requirement already satisfied: pandas>=1.0 in d:\anaconda\lib\site-packages (from statsmodels) (2.0.3)
Requirement already satisfied: patsy>=0.5.2 in d:\anaconda\lib\site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in d:\anaconda\lib\site-packages (from statsmodels) (23.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas>=1.0->statsmodels) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\anaconda\lib\site-packages (from pandas>=1.0->statsmodels) (2023.3)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [96]:
x_opt = X[:,[0,1,2,3,4,5,6,7,8,9,10]]
regressor_OLS = sm.OLS(endog=Y,exog=x_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               expenses   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     500.9
Date:                Thu, 02 May 2024   Prob (F-statistic):               0.00
Time:                        08:48:31   Log-Likelihood:                -13548.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1329   BIC:                         2.716e+04
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -521.4030    507.516     -1.027      0.304   -1517.023     474.217
x1           256.8392     11.899     21.586      0.000     233.497     280.181
x2           339.2899     28.598     11.864      0.000     283.187     395.393
x3           475.6889    137.800      3.452      0.001     205.360     746.017
x4          -195.0255    300.523     -0.649      0.516    -784.577     394.526
x5          -326.3775    306.423     -1.065      0.287    -927.502     274.747
x6         -1.218e+04    309.087    -39.421      0.000   -1.28e+04   -1.16e+04
x7          1.166e+04    344.374     33.867      0.000     1.1e+04    1.23e+04
x8           959.3058    477.912      2.007      0.045      21.762    1896.850
x9           606.5157    477.184      1.271      0.204    -329.601    1542.632
x10          -76.2899    470.639     -0.162      0.871    -999.566     846.986
==============================================================================
Omnibus:                      300.499   Durbin-Watson:                   2.088
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              719.382
Skew:                           1.212   Prob(JB):                    6.14e-157
Kurtosis:                       5.652   Cond. No.                     5.07e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.37e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""